SERVICE_ACCOUNT_INFO=
GCP_PROJECT=
BQ_DATASET=
PREFECT_API_URL=
DEBAT_URL=
DOCKER_REGISTRY=
DEPUTES_URL=
SCRUTINS_URL=
QUESTIONS_ECRITES_URL=
DOSSIERS_LEGISLATIFS_URL=
AMENDEMENTS_URL=
SA_WORKER_NAME=
SA_RUNNER_NAME=
TF_VAR_project_id="$GCP_PROJECT"
TF_VAR_bq_dataset_id="$BQ_DATASET"