GCP_PROJECT=parleman-491810
BQ_DATASET=ParlemAN_tests
DATA_URL=https://data.assemblee-nationale.fr/static/openData/repository/17/amo/deputes_actifs_mandats_actifs_organes/AMO10_deputes_actifs_mandats_actifs_organes.json.zip
# A definir ou mettre les credentials pour l'authentification à GCP
# GOOGLE_APPLICATION_CREDENTIALS=.secrets/parleman-sa.json
