SERVICE_ACCOUNT_INFO=
GCP_PROJECT=
BQ_DATASET=
PREFECT_API_URL=
PREFECT_API_AUTH_STRING=
DEBAT_URL=
DOCKER_REGISTRY=
DEPUTES_URL=
SCRUTINS_URL=
QUESTIONS_ECRITES_URL=
DOSSIERS_LEGISLATIFS_URL=
AMENDEMENTS_URL=
PREFECT_DB_PASSWORD=
PARLEMAN_API_KEY=
TF_VAR_project_id="$GCP_PROJECT"
TF_VAR_bq_dataset_id="$BQ_DATASET"
TF_VAR_prefect_db_password="$PREFECT_DB_PASSWORD"
TF_VAR_prefect_server_api_auth_string="$PREFECT_API_AUTH_STRING"
TF_VAR_parleman_api_key="$PARLEMAN_API_KEY"