project_id                      = null
region                          = "europe-west1"
environment                     = "prod"
bq_dataset_id                   = null
bq_location                     = "EU"
artifact_registry_repository_id  = "parleman-artifact-repo"
runner_service_account_id       = "parleman-bq-runner"
worker_service_account_id       = "parleman-prefect-worker"
cloud_run_service_name          = "prefect-worker"
cloud_run_worker_image_name     = "prefect-worker"
cloud_run_worker_image_tag      = "latest"
cloud_run_server_image_name     = "prefect-server"
cloud_run_server_image_tag      = "latest"
prefect_server_service_name     = "prefect-server"
prefect_server_port             = 8080
prefect_server_min_instances    = 1
prefect_server_allow_unauthenticated = true
vm_db_zone                      = "europe-west1-b"
prefect_db_user                 = "prefect"
prefect_db_password             = "CHANGE_ME"
prefect_db_name                 = "prefect"
cloud_run_env_vars              = {}