project_id                      = null
region                          = "europe-west1"
environment                     = "prod"
bq_dataset_id                   = null
bq_location                     = "EU"
bq_delete_contents_on_destroy   = true
artifact_registry_repository_id  = "parleman-artifact-repo"
worker_service_account_id       = "parleman-prefect-worker"
server_service_account_id       = "parleman-prefect-server"
cloud_run_service_name          = "prefect-worker"
cloud_run_worker_image_name     = "prefect-worker"
cloud_run_worker_image_tag      = "latest"
cloud_run_server_image_name     = "prefect-server"
cloud_run_server_image_tag      = "latest"
prefect_server_service_name     = "prefect-server"
prefect_server_port             = 8080
prefect_server_min_instances    = 1
prefect_server_max_instances    = 3
prefect_server_allow_unauthenticated = true
prefect_server_api_auth_string  = "admin:CHANGE_ME"
vm_db_zone                      = "europe-west1-b"
prefect_db_user                 = "prefect"
prefect_db_password             = "CHANGE_ME"
prefect_db_name                 = "prefect"
vm_db_postgres_source_ranges    = ["0.0.0.0/0"]
vm_db_enable_ssh                = false
vm_db_ssh_source_ranges         = []
cloud_run_backend_image_name    = "parleman-backend"
cloud_run_backend_image_tag     = "latest"
cloud_run_backend_service_name  = "parleman-backend"
backend_service_account_id      = "parleman-backend"
cloud_run_frontend_image_name   = "parleman-frontend"
cloud_run_frontend_image_tag    = "latest"
cloud_run_frontend_service_name = "parleman-frontend"
frontend_service_account_id     = "parleman-frontend"
cloud_run_env_vars              = {}
parleman_api_key                = "CHANGE_ME"